Debug/TDVMC
Debug/src/*.d
Debug/src/*.o
Debug/src/Observables/*.d
Debug/src/Observables/*.o
Debug/src/PhysicalSystems/*.d
Debug/src/PhysicalSystems/*.o
Debug/src/Potentials/*.d
Debug/src/Potentials/*.o
Debug/resources/*.d
Debug/resources/*.o
Release/TDVMC
Release/src/*.d
Release/src/*.o
Release/src/Observables/*.d
Release/src/Observables/*.o
Release/src/PhysicalSystems/*.d
Release/src/PhysicalSystems/*.o
Release/src/Potentials/*.d
Release/src/Potentials/*.o
Release/resources/*.d
Release/resources/*.o
resources/armadillo
resources/armadillo_bits/*.*
