{
	"CONFIG_VERSION" : "0.12",
	"SYSTEM_TYPE" : "HardSphereBosonsExp",
	"OUTPUT_DIRECTORY" : "/itpstore/gartner/Output/TDVMC/asterix/",
	"N" : 343,
	"DIM" : 3,
	"N_PARAM" : 1,
	"RHO" : 1,
	"RC" : 0.000000,
	"MC_STEP" : 1,
	"MC_STEP_OFFSET" : 0.000000,
	"MC_NSTEPS" : 4000,
	"MC_NTHERMSTEPS" : 250,
	"MC_NINITIALIZATIONSTEPS" : 10000,
	"MC_NADDITIONALSTEPS" : 0,
	"MC_NADDITIONALTHERMSTEPS" : 50,
	"MC_NADDITIONALINITIALIZATIONSTEPS" : 50,
	"TIMESTEP" : 0.00001,
	"TOTALTIME" : 0.1,
	"IMAGINARY_TIME" : 0,
	"ODE_SOLVER_TYPE" : 0,
	"USE_PARAMETER_ACCEPTANCE_CHECK" : 1,
	"PARAMETER_ACCEPTANCE_CHECK_TYPE" : 1,
	"WRITE_EVERY_NTH_STEP_TO_FILE" : 1,
	"MC_NSTEP_MULTIPLICATION_FACTOR_FOR_WRITE_DATA" : 1,
	"USE_MEAN_FOR_FINAL_PARAMETERS" : 0,
	"USE_NORMALIZE_WF" : 1,
	"USE_ADJUST_PARAMETERS" : 0,
	"UPDATE_SAMPLES_EVERY_NTH_STEP" : 1,
	"UPDATE_SAMPLES_PERCENT" : 100,
	"SYSTEM_PARAMS" : 
	[
		 0.08
	],
	"PARAMS_REAL" : 
	[
		 0.1
	],
	"PARAMS_IMAGINARY" : 
	[
		 0.0
	],
	"PARAM_PHIR" : 0.0,
	"PARAM_PHII" : 0.000000
}
