{
	"CONFIG_VERSION" : "0.22",
	"SYSTEM_TYPE" : "InhBosons1D",
	"OUTPUT_DIRECTORY" : "/itpstore/gartner/Output/TDVMC/asterix/",
	"OUT_DIR_SUFFIX" : "_test_Inh_QU",
	"N" : 30,
	"LBOX" : 30.000000,
	"DIM" : 1,
	"N_PARAM" : 302,
	"RHO" : 1.000000,
	"RC" : 0.000000,
	"MC_STEP" : 0.500000,
	"MC_STEP_OFFSET" : 0.000000,
	"MC_NSTEPS" : 100,
	"MC_NTHERMSTEPS" : 10,
	"MC_NINITIALIZATIONSTEPS" : 1000,
	"MC_VERY_FIRST_NINITIALIZATIONSTEPS" : 100000,
	"MC_NADDITIONALSTEPS" : 40000,
	"MC_NADDITIONALTHERMSTEPS" : 10,
	"MC_NADDITIONALINITIALIZATIONSTEPS" : 10000,
	"TIMESTEP" : 0.000200,
	"TOTALTIME" : 2.00,
	"IMAGINARY_TIME" : 1,
	"ODE_SOLVER_TYPE" : 0,
	"LINEAR_EQUATION_SOLVER_TYPE" : 1,
	"USE_PRECONDITIONING" : 0,
	"USE_PARAMETER_ACCEPTANCE_CHECK" : 1,
	"PARAMETER_ACCEPTANCE_CHECK_TYPE" : 5,
	"WRITE_EVERY_NTH_STEP_TO_FILE" : 100,
	"CALCULATE_ADDITIONAL_DATA_EVERY_NTH_STEP" : 100,
	"WRITE_SINGLE_FILES" : 0,
	"MC_NSTEP_MULTIPLICATION_FACTOR_FOR_WRITE_DATA" : 1,
	"USE_MEAN_FOR_FINAL_PARAMETERS" : 0,
	"USE_NORMALIZE_WF" : 1,
	"USE_ADJUST_PARAMETERS" : 0,
	"UPDATE_SAMPLES_EVERY_NTH_STEP" : 0,
	"UPDATE_SAMPLES_PERCENT" : 100.000000,
	"GR_BIN_COUNT" : 100,
	"RHO_BIN_COUNT" : 100,
	"USE_NURBS" : 0,
	"NURBS_GRID" : 
	[
		 0.
	],
	"PARTICLE_TYPES" : 
	[
		 0
	],
	"SYSTEM_PARAMS" : 
	[
		 0.2, 200.0, 2.0, 50.0
	],
	"PARAMS_REAL" : 
	[
		 0.0
	],
	"PARAMS_IMAGINARY" : 
	[
		 0.0
	],
	"PARAM_PHIR" : 0.0,
	"PARAM_PHII" : 0.000000
}
