{
	"CONFIG_VERSION" : "0.21",
	"SYSTEM_TYPE" : "InhBosons1D",
	"OUTPUT_DIRECTORY" : "/itpstore/gartner/Output/TDVMC/asterix/",
	"N" : 2,
	"LBOX" : 2.000000,
	"DIM" : 1,
	"N_PARAM" : 42,
	"RHO" : 1.000000,
	"RC" : 0.000000,
	"MC_STEP" : 0.500000,
	"MC_STEP_OFFSET" : 0.000000,
	"MC_NSTEPS" : 1000,
	"MC_NTHERMSTEPS" : 10,
	"MC_NINITIALIZATIONSTEPS" : 1000,
	"MC_VERY_FIRST_NINITIALIZATIONSTEPS" : 100000,
	"MC_NADDITIONALSTEPS" : 100000,
	"MC_NADDITIONALTHERMSTEPS" : 10,
	"MC_NADDITIONALINITIALIZATIONSTEPS" : 10000,
	"TIMESTEP" : 0.000200,
	"TOTALTIME" : 5.00,
	"IMAGINARY_TIME" : 1,
	"ODE_SOLVER_TYPE" : 0,
	"LINEAR_EQUATION_SOLVER_TYPE" : 1,
	"USE_PRECONDITIONING" : 0,
	"USE_PARAMETER_ACCEPTANCE_CHECK" : 1,
	"PARAMETER_ACCEPTANCE_CHECK_TYPE" : 5,
	"WRITE_EVERY_NTH_STEP_TO_FILE" : 1000,
	"CALCULATE_ADDITIONAL_DATA_EVERY_NTH_STEP" : 1000,
	"WRITE_SINGLE_FILES" : 0,
	"MC_NSTEP_MULTIPLICATION_FACTOR_FOR_WRITE_DATA" : 1,
	"USE_MEAN_FOR_FINAL_PARAMETERS" : 0,
	"USE_NORMALIZE_WF" : 1,
	"USE_ADJUST_PARAMETERS" : 0,
	"UPDATE_SAMPLES_EVERY_NTH_STEP" : 0,
	"UPDATE_SAMPLES_PERCENT" : 100.000000,
	"GR_BIN_COUNT" : 400,
	"USE_NURBS" : 1,
	"NURBS_GRID" : 
	[
		 0.,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,0.95,1.
	],
	"PARTICLE_TYPES" : 
	[
		 0
	],
	"SYSTEM_PARAMS" : 
	[
		 0.2,1.0
	],
	"PARAMS_REAL" : 
	[
		 0.0
	],
	"PARAMS_IMAGINARY" : 
	[
		 0.0
	],
	"PARAM_PHIR" : 0.0,
	"PARAM_PHII" : 0.000000
}
