{
	"CONFIG_VERSION" : "0.19",
	"SYSTEM_TYPE" : "NUBosonsBulkPBBoxAndRadial",
	"OUTPUT_DIRECTORY" : "/itpstore/gartner/Output/TDVMC/asterix/",
	"N" : 27,
	"DIM" : 3,
	"N_PARAM" : 100,
	"RHO" : 1.000000,
	"RC" : 0.000000,
	"MC_STEP" : 0.500000,
	"MC_STEP_OFFSET" : 0.000000,
	"MC_NSTEPS" : 10,
	"MC_NTHERMSTEPS" : 125,
	"MC_NINITIALIZATIONSTEPS" : 250,
	"MC_VERY_FIRST_NINITIALIZATIONSTEPS" : 1000,
	"MC_NADDITIONALSTEPS" : 1000,
	"MC_NADDITIONALTHERMSTEPS" : 125,
	"MC_NADDITIONALINITIALIZATIONSTEPS" : 125,
	"TIMESTEP" : 0.00010,
	"TOTALTIME" : 5.00000,
	"IMAGINARY_TIME" : 1,
	"ODE_SOLVER_TYPE" : 0,
	"USE_PRECONDITIONING" : 1,
	"USE_PARAMETER_ACCEPTANCE_CHECK" : 1,
	"PARAMETER_ACCEPTANCE_CHECK_TYPE" : 5,
	"WRITE_EVERY_NTH_STEP_TO_FILE" : 100,
	"CALCULATE_ADDITIONAL_DATA_EVERY_NTH_STEP" : 100,
	"WRITE_SINGLE_FILES" : 0,
	"MC_NSTEP_MULTIPLICATION_FACTOR_FOR_WRITE_DATA" : 1,
	"USE_MEAN_FOR_FINAL_PARAMETERS" : 0,
	"USE_NORMALIZE_WF" : 1,
	"USE_ADJUST_PARAMETERS" : 0,
	"UPDATE_SAMPLES_EVERY_NTH_STEP" : 0,
	"UPDATE_SAMPLES_PERCENT" : 100.000000,
	"GR_BIN_COUNT" : 400,
	"USE_NURBS" : 1,
	"NURBS_GRID" : 
	[
		0.,0.03,0.06,0.09,0.12,0.15,0.18,0.21,0.24,0.27,0.3,0.33,0.36,0.39,0.42,0.45,0.48,0.51,0.54,0.57,0.6,0.63,0.66,0.69,0.72,0.75,0.78,0.81,0.84,0.87,0.9,0.93,0.96,0.99,1.02,1.05,1.08,1.11,1.14,1.17,1.2,1.23,1.26,1.29,1.32,1.35,1.38,1.41,1.44,1.47,1.5
	],
	"PARTICLE_TYPES" : 
	[
		 0
	],
	"SYSTEM_PARAMS" : 
	[
		 0.10,50.0
	],
	"PARAMS_REAL" : 
	[
		0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.
	],
	"PARAMS_IMAGINARY" : 
	[
		0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.
	],
	"PARAM_PHIR" : 0.0,
	"PARAM_PHII" : 0.000000
}
