{
	"CONFIG_VERSION" : "0.21",
	"SYSTEM_TYPE" : "Bosons1D",
	"OUTPUT_DIRECTORY" : "/itpstore/gartner/Output/TDVMC/asterix/",
	"N" : 40,
	"LBOX" : 40.000000,
	"DIM" : 1,
	"N_PARAM" : 101,
	"RHO" : 1.000000,
	"RC" : 0.000000,
	"MC_STEP" : 0.500000,
	"MC_STEP_OFFSET" : 0.000000,
	"MC_NSTEPS" : 10,
	"MC_NTHERMSTEPS" : 100,
	"MC_NINITIALIZATIONSTEPS" : 1000,
	"MC_VERY_FIRST_NINITIALIZATIONSTEPS" : 100000,
	"MC_NADDITIONALSTEPS" : 10000,
	"MC_NADDITIONALTHERMSTEPS" : 100,
	"MC_NADDITIONALINITIALIZATIONSTEPS" : 10000,
	"TIMESTEP" : 0.000100,
	"TOTALTIME" : 40.00,
	"IMAGINARY_TIME" : 1,
	"ODE_SOLVER_TYPE" : 0,
	"LINEAR_EQUATION_SOLVER_TYPE" : 1,
	"USE_PRECONDITIONING" : 0,
	"USE_PARAMETER_ACCEPTANCE_CHECK" : 1,
	"PARAMETER_ACCEPTANCE_CHECK_TYPE" : 5,
	"WRITE_EVERY_NTH_STEP_TO_FILE" : 200,
	"CALCULATE_ADDITIONAL_DATA_EVERY_NTH_STEP" : 200,
	"WRITE_SINGLE_FILES" : 0,
	"MC_NSTEP_MULTIPLICATION_FACTOR_FOR_WRITE_DATA" : 1,
	"USE_MEAN_FOR_FINAL_PARAMETERS" : 0,
	"USE_NORMALIZE_WF" : 1,
	"USE_ADJUST_PARAMETERS" : 0,
	"UPDATE_SAMPLES_EVERY_NTH_STEP" : 0,
	"UPDATE_SAMPLES_PERCENT" : 100.000000,
	"GR_BIN_COUNT" : 400,
	"USE_NURBS" : 1,
	"NURBS_GRID" : 
	[
		 0.,0.2,0.4,0.6,0.8,1.,1.2,1.4,1.6,1.8,2.,2.2,2.4,2.6,2.8,3.,3.2,3.4,3.6,3.8,4.,4.2,4.4,4.6,4.8,5.,5.2,5.4,5.6,5.8,6.,6.2,6.4,6.6,6.8,7.,7.2,7.4,7.6,7.8,8.,8.2,8.4,8.6,8.8,9.,9.2,9.4,9.6,9.8,10.,10.2,10.4,10.6,10.8,11.,11.2,11.4,11.6,11.8,12.,12.2,12.4,12.6,12.8,13.,13.2,13.4,13.6,13.8,14.,14.2,14.4,14.6,14.8,15.,15.2,15.4,15.6,15.8,16.,16.2,16.4,16.6,16.8,17.,17.2,17.4,17.6,17.8,18.,18.2,18.4,18.6,18.8,19.,19.2,19.4,19.6,19.8,20.
	],
	"PARTICLE_TYPES" : 
	[
		 0
	],
	"SYSTEM_PARAMS" : 
	[
		 1.0000000000000000e+00,2.0000000000000000e+00
	],
	"PARAMS_REAL" : 
	[
		 0.0
	],
	"PARAMS_IMAGINARY" : 
	[
		 0.0
	],
	"PARAM_PHIR" : 0.0,
	"PARAM_PHII" : 0.000000
}
