{
	"OUTPUT_DIRECTORY" : "/itpstore/gartner/Output/TDVMC/asterix/",
	"N" : 1,
	"DIM" : 1,
	"N_PARAM" : 2,
	"RHO" : 1.0,
	"RC" : 1.0,
	"MC_STEP" : 2,
	"MC_NSTEPS" : 10000,
	"MC_NTHERMSTEPS" : 10,
	"MC_NINITIALIZATIONSTEPS" : 100,
	"MC_NADDITIONALSTEPS" : 10000,
	"MC_NADDITIONALTHERMSTEPS" : 10,
	"MC_NADDITIONALINITIALIZATIONSTEPS" : 100,
	"TIMESTEP" : 1e-03,
	"TOTALTIME" : 10.0,
	"IMAGINARY_TIME" : 0,
	"ODE_SOLVER_TYPE" : 2,
	"PARAMS_REAL" : 
	[
		0.0, -0.5
	],
	"PARAMS_IMAGINARY" : 
	[
		1.0, 0.0
	],
	"PARAM_PHIR" : -0.286182471,
	"PARAM_PHII" : 0.0
}