{
	"CONFIG_VERSION" : "0.24",
	"SYSTEM_TYPE" : "Bosons1D",
	"OUTPUT_DIRECTORY" : "~/TDVMC/EXAMPLES/Output/",
	"OUT_DIR_SUFFIX" : "_GS_N=100_1.0_10.0",
	"OUT_DIR_NAME" : "",
	"N" : 100,
	"LBOX" : 100.000000,
	"DIM" : 1,
	"N_PARAM" : 501,
	"USE_PARAM_START" : 0,
	"USE_PARAM_END" : 500,
	"RHO" : 1.000000,
	"RC" : 0.000000,
	"MC_STEP" : 0.500000,
	"MC_STEP_OFFSET" : 0.000000,
	"MC_NSTEPS" : 5,
	"MC_NTHERMSTEPS" : 100,
	"MC_NINITIALIZATIONSTEPS" : 1000,
	"MC_VERY_FIRST_NINITIALIZATIONSTEPS" : 10000,
	"MC_NADDITIONALSTEPS" : 1000,
	"MC_NADDITIONALTHERMSTEPS" : 2000,
	"MC_NADDITIONALINITIALIZATIONSTEPS" : 1000,
	"MC_NFINALSTEPS_MULTIPLICATOR" : 5,
	"TIMESTEP" : 0.0010,
	"TOTALTIME" : 100.000000,
	"IMAGINARY_TIME" : 1,
	"ODE_SOLVER_TYPE" : 0,
	"LINEAR_EQUATION_SOLVER_TYPE" : 1,
	"USE_PRECONDITIONING" : 1,
	"USE_PARAMETER_ACCEPTANCE_CHECK" : 1,
	"PARAMETER_ACCEPTANCE_CHECK_TYPE" : 5,
	"WRITE_EVERY_NTH_STEP_TO_FILE" : 500,
	"CALCULATE_ADDITIONAL_DATA_EVERY_NTH_STEP" : 500,
	"WRITE_SINGLE_FILES" : 0,
	"MC_NSTEP_MULTIPLICATION_FACTOR_FOR_WRITE_DATA" : 1,
	"USE_MEAN_FOR_FINAL_PARAMETERS" : 0,
	"USE_NORMALIZE_WF" : 1,
	"USE_ADJUST_PARAMETERS" : 0,
	"UPDATE_SAMPLES_EVERY_NTH_STEP" : 0,
	"UPDATE_SAMPLES_PERCENT" : 100.000000,
	"GR_BIN_COUNT" : 1000,
	"RHO_BIN_COUNT" : 0,
	"USE_NURBS" : 0,
	"NURBS_GRID" : 
	[
		 0.0
	],
	"PARTICLE_TYPES" : 
	[
		 0
	],
	"SYSTEM_PARAMS" : 
	[
		1.0, 10.0
	],
	"PARAMS_REAL" : 
	[
		0.0
	],
	"PARAMS_IMAGINARY" : 
	[
		0.0
	],
	"PARAM_PHIR" : 0.0,
	"PARAM_PHII" : 0.0
}
