{
  "CONFIG_VERSION": "0.24",
  "SYSTEM_TYPE": "InhContactBosons",
  "OUTPUT_DIRECTORY" : "~/TDVMC/EXAMPLES/Output/",
  "OUT_DIR_SUFFIX": "_GS_N=40_gamma=1.25",
  "OUT_DIR_NAME": "",
  "N": 40,
  "LBOX": 40.0,
  "DIM": 1,
  "N_PARAM": 402,
  "USE_PARAM_START": 0,
  "USE_PARAM_END": 401,
  "RHO": 1.0,
  "RC": 0.0,
  "MC_STEP": 0.5,
  "MC_STEP_OFFSET": 0.0,
  "MC_NSTEPS": 25,
  "MC_NTHERMSTEPS": 200,
  "MC_NINITIALIZATIONSTEPS": 1000,
  "MC_VERY_FIRST_NINITIALIZATIONSTEPS": 100000,
  "MC_NADDITIONALSTEPS": 500,
  "MC_NADDITIONALTHERMSTEPS": 1000,
  "MC_NADDITIONALINITIALIZATIONSTEPS": 100000,
  "MC_NFINALSTEPS_MULTIPLICATOR": 500,
  "TIMESTEP": 0.001,
  "TOTALTIME": 10.0,
  "IMAGINARY_TIME": 1,
  "ODE_SOLVER_TYPE": 0,
  "LINEAR_EQUATION_SOLVER_TYPE": 1,
  "USE_PRECONDITIONING": 1,
  "USE_PARAMETER_ACCEPTANCE_CHECK": 1,
  "PARAMETER_ACCEPTANCE_CHECK_TYPE": 5,
  "WRITE_EVERY_NTH_STEP_TO_FILE": 1000,
  "CALCULATE_ADDITIONAL_DATA_EVERY_NTH_STEP": 1000,
  "WRITE_SINGLE_FILES": 0,
  "MC_NSTEP_MULTIPLICATION_FACTOR_FOR_WRITE_DATA": 1,
  "USE_MEAN_FOR_FINAL_PARAMETERS": 0,
  "USE_NORMALIZE_WF": 1,
  "USE_ADJUST_PARAMETERS": 0,
  "UPDATE_SAMPLES_EVERY_NTH_STEP": 0,
  "UPDATE_SAMPLES_PERCENT": 100.0,
  "GR_BIN_COUNT": 200,
  "RHO_BIN_COUNT": 400,
  "USE_NURBS": 0,
  "NURBS_GRID": [
    0.0
  ],
  "PARTICLE_TYPES": [
    0
  ],
  "SYSTEM_PARAMS": [
    0.0,
    1.25,
    0.0,
    0.0
  ],
  "PARAMS_REAL": [
    0.0
  ],
  "PARAMS_IMAGINARY": [
    0.0
  ],
  "PARAM_PHIR": 0.0,
  "PARAM_PHII": 0.0
}
